#chart-area{
  height:600px;
  width: 900px;
}

.popden:before{
    content: '';
    height: 600px;
    width : 900px;
    background-image: url(../data/odViz/popden.jpg);
    opacity: 0.4;
    display: block;
    position: absolute;
    z-index: -1;
}

.basic:before{
    content: '';
    height: 600px;
    width : 900px;
    background-image: url(../data/odViz/empty.jpg);
    opacity: 0.4;
    display: block;
    position: absolute;
    z-index: -1;
}

.empden:before{
    content: '';
    height: 600px;
    width : 900px;
    background-image: url(../data/odViz/empden1.jpg);
    opacity: 0.4;
    display: block;
    position: absolute;
    z-index: -1;
}

h1{
  font-size: 25px;
}
h2{
  font-size: 20px;
}


#submitButton{
  padding:10px;
  width: 6em;  
  height: 5em;
}

table{
  width: 900px;
}

path.link {
  fill: none;
  stroke: #666;
}


circle {
  stroke: white;
  stroke-width: 2px;
  fill:#f68181;
}

text {
  fill: #000;
  font: 12px sans-serif;
  pointer-events: none;
}

div.tooltip {	
    position: absolute;			
    text-align: center;	
    padding: 5px;						
    min-width: 75px;
    max-width: 500px;
    min-height: 28px;
    max-height: 60px;									
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 5px;		
    border-radius: 8px;			
    pointer-events: none;			
}

g.arc{
  stroke:white;
}